<div>
  <h1 class="heading">
    Welcome to {{ title }}!
  </h1>

  <div>
    <h1>Todo via common service</h1>
    <input #todos  (keyup.enter)="addTodo(todos)"/>
  </div>
  <div>
    <h1>Input From Parent :</h1>
    <input #lineStatusHeading />
    {{lineStatusHeading.value}}
  </div>
  <app-timer></app-timer>
  <app-hello-world></app-hello-world>
  <customer-address></customer-address>
  <app-line-status [heading]="lineStatusHeading.value" (linesLoaded)="linesLoaded($event)"></app-line-status>
  <router-outlet></router-outlet>

</div>

<div style="position: absolute;top:0;height:100%;width:100%;background:red;" [ngClass]="{'loaded' : linesStatusHasBeenLoaded}">

  <div style="position: relative;top:50%;margin:auto;color:white;font-size:large;">
    LINES STATUS GET
  </div>
</div>
